<div class="sup-block" ng-hide="sups.currentSupplier.parent === null">
    <div class="sup-block-header" ng-hide="sups.currentSupplier.parent === null">
        Location
    </div>
    <div class="sup-block-content">
        <div ng-if="sups.currentSupplier.parent !== null" class="sup-map" id="supMapSmall" sup-map-small></div>
        <div class="sup-coordinates" ng-hide="sups.currentSupplier.parent === null">
            <div class="sup-info-icon">
                <i class="glyphicon glyphicon-map-marker"></i>
            </div>
            <div class="sup-titles">
                <p>
                    <b>Latitude:  <br>
                    Longitude: </b>
                </p>
            </div>
            <div class="sup-info">
                <p>
                    {{ sups.currentSupplier.latitude }}<br>
                    {{ sups.currentSupplier.longitude }}
                </p>
            </div>
        </div>

        <div class="sup-address" ng-hide="sups.currentSupplier.parent === null">
            <div class="sup-info-icon">
                <i class="glyphicon glyphicon-home"></i>
            </div>

            <div class="sup-titles">
                <p>
                    <b>Street:  <br>
                    Zip, City: </b>
                </p>
            </div>
            <div class="sup-info">
                <p>
                    {{ sups.currentSupplier.street }}<br>
                    {{ sups.currentSupplier.zipcode }}, {{ sups.currentSupplier.city }}
                </p>
            </div>
        </div>
    </div>
</div>

<div class="sup-block" ng-if="sups.currentSupplier.suppliers.length > 0">
    <div class="sup-block-header">
        <span>Suppliers</span>
        <span class="badge">{{sups.currentSupplier.suppliers.length}}</span>
    </div>
    <div class="sup-block-content">
        <div class="sup-suppliers-item" ng-repeat="sup in sups.currentSupplier.suppliers" ng-click="sups.selectSupplier(sup)">
            <div class="sup-suppliers-item-icon">
                <i ng-class="{ 'glyphicon-ok-sign': !sup.hasIssues, 'glyphicon-fire': sup.hasIssues }" class="glyphicon"></i>
            </div>
            <span class="sup-suppliers-item-name">{{ sup.name }}</span>
        </div>
    </div>
</div>

<div class="sup-block" ng-if="!sups.isObjectEmpty(sups.currentSupplier.metrics)">
    <div class="sup-block-header">
        <span>Metrics</span>
    </div>
    <div class="sup-block-content">
        <div class="sup-metric" ng-repeat="(k, m) in sups.currentSupplier.metrics">
            <div class="sup-metric-icon" ng-click="sups.notify(m)">
                <i class="glyphicon" ng-class="{ 'glyphicon-ok-sign': m.status === 0, 'glyphicon-fire': m.status !== 0 }"></i>
            </div>
            <span class="sup-metric-name" ng-click="sups.setCurrentMetric(m)" data-toggle="modal" data-target="#myModal">{{ m.name }}</span>
            <span class="sup-metric-value">{{ m.value }}{{ m.unit }}</span>
        </div>
    </div>
</div>

<div class="sup-block" ng-if="sups.currentSupplier.shippings.length > 0">
    <div class="sup-block-header">
        <span>Shippings</span>
    </div>
    <div class="sup-block-content">
        <div class="sup-shipping" ng-repeat="s in sups.currentSupplier.shippings">
            <div class="sup-shipping-icon">
                <i class="glyphicon" ng-class="{ 'glyphicon-arrow-left': s.incomming, 'glyphicon-arrow-right': !s.incomming }"></i>
            </div>
            <span class="sup-shipping-info">{{ s.other }}<br/>{{ s.quantity }} {{ s.product }}(s)</span>
            <div class="sup-shipping-star" ng-click="sups.trackShipping(s)">
                <i class="glyphicon glyphicon-star" ng-class="{ 'selected': s.tracked }"></i>
            </div>
        </div>
    </div>
</div>

<!--div class="sup-suppliers" ng-hide="sups.currentSupplier.suppliers.length < 1">
    <div class="sup-info-icon">
        <i class="glyphicon glyphicon-send"></i>
    </div>
    <div class="sup-titles">
        <span class="sup-suppliers-title">Suppliers</span>
        <span class="badge">{{sups.currentSupplier.suppliers.length}}</span>
    </div>
    <div class="sup-info-icon sup-expand">
        <i class="glyphicon glyphicon-menu-down"></i>
    </div>
</div>
<div class="sup-suppliers-items">
    <div ng-repeat="sup in sups.currentSupplier.suppliers" ng-click="sups.selectSupplier(sup)">
        {{ sup.name }}
    </div>
</div-->

<!-- <div>
    <div class="sup-suppliers" ng-hide="sups.currentSupplier.suppliers.length < 1">
        <div class="sup-suppliers-header">
            <div class="sup-info-icon">
                <i class="glyphicon glyphicon-send"></i>
            </div>
            <div class="sup-titles">
                <span class="sup-suppliers-title">Suppliers</span>
                <div class="sup-number">
                    <span class="badge">{{sups.currentSupplier.suppliers.length}}</span>
                </div>
            </div>
            <div class="sup-info-icon cell-right">
                <i class="glyphicon glyphicon-menu-down"></i>
            </div>
        </div>
    </div>
    <div class="sup-suppliers-items">
        <div ng-repeat="sup in sups.currentSupplier.suppliers" ng-click="sups.selectSupplier(sup)">
            {{ sup.name }}
        </div>
    </div>
</div> -->
