<ul class="main-menu-list">
    <li class="main-menu-item" ng-class="{ 'selected': sups.currentView === sups.idSuppliersView }">
        <a ng-href ng-click="sups.switchToView(sups.idSuppliersView)">Suppliers</a>
    </li>
    <li class="main-menu-item" ng-class="{ 'selected': sups.currentView === sups.idShippingsView }">
        <a ng-href ng-click="sups.switchToView(sups.idShippingsView)">Shippings</a>
    </li>
    <li class="main-menu-item" ng-class="{ 'selected': sups.currentView === sups.idOrdersView }">
        <a ng-href ng-click="sups.switchToView(sups.idOrdersView)">Orders</a>
    </li>
    <li class="main-menu-item" ng-class="{ 'selected': sups.currentView === sups.idMessagesView }">
        <a ng-href ng-click="sups.switchToView(sups.idMessagesView)">Messages</a>
    </li>
</ul>
