/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : Apr 29, 2015, 2:59:10 PM
    Author     : vukm
*/
*, *:after, *:before {
/*    font-family: Verdana, Geneva, sans-serif;*/
}

/*rgb(88, 131, 219)*/

.snap-content {
  background: #EDEDED;
}

body {
  /*font-size: 16px;*/
}

.sup-list {
  margin: 0 0;
}

.supplier {
/*    border: solid;
    border-width: 1px;*/
    box-sizing: border-box;
    margin: 16px 0px;
    box-shadow: 0px 0px 5px #333333;
}

/*.supplier .sup-title {
    padding-left: 6px;
    border-left-color: #2491FB;
    border-left-style: solid;
    border-left-width: 4px;
}

.sup-title .title {
    font-size: 1.2em;
    font-weight: bold;
}

.sup-title .address, .sup-title .city {
    color: #A7A7A7;
}

.sup-details {
    display: none;
    background: #EDEDED;
    padding: 10px;
}

.supplier p {
    display: inline-table;
    vertical-align: top;
    min-width: 160px;
    margin: auto;
}

.sup-ul {
    list-style: none;
}

.sup-tree {
    border: #A7A7A7 thin;
}

.header {
    background: #D0D5D7;
    padding: 1.5em;
}

.btn {
    margin-top: -0.125em;
    text-transform: uppercase;
}

.sup-info-icon {
    display: table-cell;
    vertical-align: middle;
    padding: 0 10px;
    color: #57C3E7;
    width: 4em;
    text-align: center;
}

.sup-info-icon .glyphicon {
    font-size: 2em;
    padding-top: 0.142857em;
}

.sup-info, .sup-titles, .sup-suppliers-title {
    display: table-cell;
}

.sup-info p, .sup-titles p {
    margin-bottom: 0;
}

.sup-titles {
    width: 9em;
    padding-left: 10px;
}

.sup-suppliers-title {
    font-size: 2em;
    padding-left: 8px;
}

.sup-coordinates, .sup-address, .sup-suppliers{
    vertical-align: middle;
    border-bottom: 1px solid #A7A7A7;
    height: 4.571429em;
    padding: 0.714286em 0;
}

.sup-suppliers {
    border: none;
}

.cell-right {
    width: 100%;
    text-align: right;
}

.sup-number {
    display: table-cell;
    vertical-align: middle;
    font-size: 1.5em;
    padding-left: 15px;
}

.sup-suppliers-items {
    margin-left: 4.8em;
    display: none;
}*/

@media only screen and (max-width: 400px) {
    .col-sm-6 {
        padding: 0 0;
    }
}

.sup-map-large-container {
    height: 100%;
    width: 100%;
    padding-top: 4em;
    /*display: none; /* should do this after map is added to the div */*/
    position: absolute;
    z-index: 5;
    /*bottom: 0px;*/
    top: 0;
    left: 0;
}

.sup-map-large {
    height: 100%;
    width: 100%;
    z-index: 5;
    /*padding-top: 1.5em;*/
}

.sup-map-large-nav {
    position: relative;
    height: 1.5em;
    text-align: center;
    background: #C6C6C6;
    z-index: 5;
    color: #57C3E7;
}

/* ------------------------------------

Tree styles

------------------------------------ */

.sup-ul {
    list-style: none;
}

.sup-tree {
    border: #A7A7A7 thin;
    line-height: 1.2;
}

/* ------------------------------------

Supplier styles

------------------------------------ */

.sup-coordinates, .sup-address, .sup-suppliers {
    display: flex;
    height: 4em;
    align-items: center;
    width: 100%;
    border-bottom: 1px solid #C6C6C6;
}

.sup-map {
    height: 10em;
}

.sup-suppliers, .sup-coordinates {
    border-bottom: none;
}

.sup-info-icon, .sup-suppliers-item-icon, .sup-metric-icon, .sup-shipping-icon {
    text-align: center;
    min-width: 4em;
    width: 4em;
    border-right: 1px solid #C6C6C6;
}

.sup-info-icon i {
    font-size: 1.714286em;
    color: #57C3E7;
    padding-top: 0.125em;
    padding-right: 0.125em;
}

.sup-titles {
    text-align: left;
    min-width: 6.5em;
    margin-left: 1em;
}

.sup-titles p, .sup-info p {
    margin-bottom: 0;
    margin-top: 0;
}

.sup-info {
    flex-grow: 1;
    text-align: right;
    padding-right: 0.5em;
}

.sup-suppliers-title {
    font-size: 1.571429em;
}

.sup-suppliers .sup-titles .badge {
    font-size: 0.857143em;
    position: relative;
    top: -0.125em;
}

.sup-suppliers-items {
    margin-left: 5em;
    display: none;
}

.sup-suppliers-item, .sup-metric, .sup-shipping {
    display: flex;
    align-items: center;
    width: 100%;
    margin: 1em 0;
}

.sup-suppliers-item-name, .sup-metric-name, .sup-metric-info, .sup-shipping-info {
    margin-left: 1em;
}

.sup-suppliers-item .glyphicon, .sup-metric .glyphicon, .sup-shipping .glyphicon {
    padding-top: 0.125em;
}

.sup-suppliers-item .glyphicon.glyphicon-ok-sign, .sup-metric .glyphicon, .sup-shipping .glyphicon {
    color: #57C3E7;
    font-size: 1.285714em;
}

.sup-shipping .glyphicon.glyphicon-star {
    color: #C6C6C6;
}

.sup-shipping .glyphicon.glyphicon-star.selected {
    color: #EFDA00;
}

.sup-metric .glyphicon.glyphicon-fire {
    color: #ED851F;
}

.sup-shipping .glyphicon.glyphicon-arrow-right {
    color: #24c013;
}

.sup-metric-value {
    flex-grow: 1;
    text-align: right;
    margin-right: 1em;
}

.sup-shipping-star {
    text-align: center;
    min-width: 4em;
    width: 4em;
    border-left: 1px solid #C6C6C6;
}

.sup-shipping-info {
    flex-grow: 1;
}

.sup-expand {
    flex-grow: 1;
    text-align: right;
    margin-right: 0.5em;
}

.sup-info-icon.sup-expand {
    border-right: none;
}

/* ------------- Block styles -------------*/

.sup-block {
    border: 1px solid lightgray;
    margin: 1em 0.5em;
    box-shadow: 0 0 0.5em lightgray;
    background: white;
}

.sup-block-header {
    padding: 1em;
    /*background: #00AED4;*/
    background: #57C3E7;
    color: white;
    font-weight: bold;
}

.sup-block-content {
    background: white;
}

/* ------------------------------------

Header styles

------------------------------------ */

.nav-sups {
    display: flex;
    height: 4em;
    align-items: center;
    /*background: #4B6474;*/
    /*background: #57C3E7;*/
    background: #00AED4;
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    z-index: 1;
}

.nav-below {
    margin-top: 4em;
}

.nav-sups a {
    font-size: 1.142857em;
    margin: 0 0.25em;
    color: white;
    cursor: pointer;
}

.nav-sups a:last-child {
    margin-right: 0.5em;
}

.nav-title {
    font-size: 1.142857em;
    font-weight: bold;
    /*margin-top: -0.125em;*/
    color: white;
    overflow-x: hidden;
}

.nav-controls {
    flex-grow: 1;
    text-align: right;
    min-width: 6.5em;
}

/* -----------------------------------

Suppliers tree styles

----------------------------------- */

.sup-tree-item {
    cursor: pointer;
    color: inherit;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    padding: 0.25em 0.5em;
}

.sup-tree-item.current {
    background: #D0D5D7;
    background: #57C3E7;
    font-weight: bold;
    color: white;
}

.sup-ul {
    padding-left: 1.5em;
}

.sup-ul-top {
    margin-top: 0.5em;
    padding-left: 0;
}

.sup-search-box {
    width: 95%;
    padding: 0.5em;
    margin: 0.5em;
    border-style: none;
    border-bottom-style: inset;
}

.sup-search-box:focus {
    outline: none;
    border-style: none;
    border-bottom-style: inset;
    border-bottom-color: darkgray;
}

.sup-search-list {
    padding-left: 0.5em;
    list-style: none;
}

/* -----------------------------------

Main menu styles

----------------------------------- */

.main-menu-list {
    list-style: none;
    font-size: 1.285714em;
    line-height: 3;
    padding-left: 0;
}

.snap-drawer-left {
    /*background: rgb(192, 195, 195);*/
}

.main-menu-item a {
    text-decoration: none;
    padding-left: 1.5em;
    color: inherit;
}

.main-menu-item.selected {
    background: #57C3E7;
    font-weight: bolder;
    color: white;
}

/* -----------------------------------

Modal styles

----------------------------------- */

/*.modal {
  text-align: center;
}

.modal:before {
  display: inline-block;
  vertical-align: middle;
  content: " ";
  height: 100%;
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}*/

.modal-dialog {
    width: 22em;
    height: 20em;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -10em;
    margin-left: -11em;
}

.modal-body {
    display: table;
    width: 100%;
}

.modal-body .modal-row {
    display: table-row;
}

.modal-body span {
    display: table-cell;
    padding: 0.5em 0;
    width: 100%;
}

.modal-body input {
    width: 7em;
    text-align: right;
    border: none;
    border-bottom-style: inset;
    border-bottom-color: #C6C6C6;
    border-bottom-width: 1px;
}

.modal-body input:focus {
    outline: none;
    border-style: none;
    border-bottom-style: inset;
    border-bottom-width: 2px;
}

.align-right {
    text-align: right;
}

.btn.btn-primary {
    background: #57C3E7;
    border-color: #00AED4;
}

.modal-header {
    font-size: 1.285714em;
}

.modal-header .glyphicon.glyphicon-ok-sign {
    color: #57C3E7;
    padding-top: 0.125em;
    margin-right: 0.5em;
}

.modal-header .glyphicon.glyphicon-fire {
    color: #ED851F;
    padding-top: 0.125em;
    margin-right: 0.5em;
}

.input-div {
    width: 100%;
    text-align: right;
    display: table-cell;
}
